# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment / secrets
.env

# Docker
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db